*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 1000px;
	height: 600px;
	padding: 10px 10px;
	margin: 100px auto;
	display: grid;
	grid-auto-rows: 70px;
	grid-template-columns: repeat(3, 150px);
	gap: 10px;
}
.element{
	background: #ffdd03;
	color: #0d0d0d;
	padding: 10px ;
}
.head1{
	grid-column: 1 / 8;
}
.nav2{
	grid-row: 2 / 8;
}
.article3{
	grid-column: 2 / 7;
	grid-row: 2 / 7;
}
.ads4{
	grid-column: 7 / 8;
	grid-row: 2 / 7;
}
.footer5{
	grid-column: 2 / 8;
}