body{
	 font-family; Arial, helvetica, sans-serif;
}
#title-color{
	color:yellow;
}
.text-red{
	color:#f78583;
}
.text-green{
	color:#8ef56c;
}
.text-purple{
	color:#a84d9e;
}
.text-orange{
	color:#b08345;
}.text-maroon{
	color:#b36ef0;
}
.page{
	background:#cbe007;
}